#include "PasswordBookPageRes.h"
#include "../../GuiCommon.rc"

#define xc OPTIONS_PAGE_XC_SIZE
#define yc OPTIONS_PAGE_YC_SIZE

IDD_PASSWORD_BOOK  DIALOG MY_PAGE_POSTFIX
CAPTION "Password Book"
BEGIN
  MY_CONTROL_CHECKBOX ( "Use password book", IDX_PASSWORD_BOOK_ENABLE, m, 8, xc)

  LTEXT    "Search:", IDT_PASSWORD_BOOK_SEARCH, m, 28, xc, 8
  EDITTEXT IDE_PASSWORD_BOOK_SEARCH, m, 40, 116, 14, ES_AUTOHSCROLL
  PUSHBUTTON "&Delete", IDB_PASSWORD_BOOK_DELETE, xc - 160, 40, 50, 14
  PUSHBUTTON "&Import...", IDB_PASSWORD_BOOK_IMPORT, xc - 106, 40, 50, 14
  PUSHBUTTON "&Export...", IDB_PASSWORD_BOOK_EXPORT, xc - 52, 40, 50, 14

  CONTROL  "List", IDL_PASSWORD_BOOK_LIST, "SysListView32",
      LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL | WS_TABSTOP | WS_BORDER,
      m, 62, xc, yc - 74

  LTEXT    "", IDT_PASSWORD_BOOK_STATUS, m, yc - 8, xc, 8, SS_NOPREFIX
END


#ifdef UNDER_CE

#undef m
#undef xc

#define m 4
#define xc (SMALL_PAGE_SIZE_X + 8)

IDD_PASSWORD_BOOK_2  DIALOG MY_PAGE_POSTFIX
CAPTION "Password Book"
BEGIN
  MY_CONTROL_CHECKBOX ( "Use password book", IDX_PASSWORD_BOOK_ENABLE, m, 8, xc)

  LTEXT    "Search:", IDT_PASSWORD_BOOK_SEARCH, m, 28, xc, 8
  EDITTEXT IDE_PASSWORD_BOOK_SEARCH, m, 40, 74, 14, ES_AUTOHSCROLL
  PUSHBUTTON "Exp", IDB_PASSWORD_BOOK_EXPORT, xc - 36, 40, 32, 14
  PUSHBUTTON "Imp", IDB_PASSWORD_BOOK_IMPORT, xc - 72, 40, 32, 14
  PUSHBUTTON "Del", IDB_PASSWORD_BOOK_DELETE, xc - 108, 40, 32, 14

  CONTROL  "List", IDL_PASSWORD_BOOK_LIST, "SysListView32",
      LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL | WS_TABSTOP | WS_BORDER,
      m, 62, xc, yc - 74

  LTEXT    "", IDT_PASSWORD_BOOK_STATUS, m, yc - 8, xc, 8, SS_NOPREFIX
END

#endif
