#include "QueryPasswordDialogRes.h"
#include "../../GuiCommon.rc"

#define xc 240
#define yc 72

IDD_QUERY_PASSWORD_DLG  DIALOG  0, 0, xs, ys  MY_MODAL_DIALOG_STYLE  MY_FONT
CAPTION "Query Password"
BEGIN
  LTEXT       "Password:", IDT_QUERY_PASSWORD_VALUE, m, m, xc, 8
  EDITTEXT    IDE_QUERY_PASSWORD_VALUE, m, 20, xc, 14, ES_AUTOHSCROLL | ES_READONLY
  PUSHBUTTON  "Copy", IDB_QUERY_PASSWORD_COPY, bx3, by, bxs, bys
  DEFPUSHBUTTON "OK", IDOK, bx1, by, bxs, bys
END
